@charset "utf-8";
/* CSS Document */

#paginainicio
{
background:#099;
}
#titulo
{
background:#306;
}
#pienombre
{
background:#306;
}
#introduccion
{
color:#FFC;
size:6; 
align:justify; 
background:#097;
width:98%;
margin:1%;
}
#piedepagina1
{
color:#FFF;
background:#336;
}
#piedepaginaBayas
{
color:#FFF;
background:#390;
}
#piedepaginaCitricos
{
color:#FFF;
background:#6F0;
}
#piedepaginaCurbicetaceas
{
color:#FFF;
background:#33F;
}
#piedepaginaExoticas
{
color:#FFF;
background:#333;
}
#piedepaginaFrutaDulce
{
color:#FFF;
background:#F96;
}
#piedepaginaFrutoSeco
{
color:#FFF;
background:#FC0;
}
#titulos1FrutaDulce
{
color:#F00;
background:#336;
}
#titulosBayas
{
color:#FFF;
background:#6F6;
size:+6;
}
#titulosCitricos
{
color:#000;
background:#3F9;
size:+6;
}
#titulosFrutosSecos
{
color:#000;
background:#FF0;
size:+6;
}
#titulosExoticos
{
color:#FFF;
background:#669;
size:+6;
}
#titulosCFrutadulce
{
color:#000;
background:#F9C;
size:+6;
}
#tituloscurbitaceas
{
color:#000;
background:#36C;
size:+6;
}
